.movies-cards {
  display: flex;
  justify-content: center;
}

.movies-cards__wrapper {
  max-width: 1140px;
  width: 90%;
}

.movies-cards__list {
  margin: 0;
  padding: 70px 0 30px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  row-gap: 32px;
  column-gap: 20px;
}

.movies-cards__more-button {
  margin: 50px 0 80px;
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding: 11px 0 9px;
  background-color: #f4f4f4;
}

.movies-cards__more-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .movies-cards__wrapper {
    max-width: 708px;
    width: 93%;
  }

  .movies-cards__list {
    grid-template-columns: repeat(auto-fit, 339px);
    column-gap: 30px;
    row-gap: 36px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .movies-cards__wrapper {
    width: 93.75%;
  }

  .movies-cards__list {
    padding: 40px 0 30px;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
  }
}