.techs {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.techs__wrapper {
  max-width: 1140px;
  width: 90%;
}

.techs__title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px solid;
}

.techs__content {
  padding: 90px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techs__content-title {
  margin: 0 0 26px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.techs__subtitle {
  margin: 0 0 100px;
  max-width: 460px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
}

.techs__tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.techs__tag {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  background-color: #E8E8E8;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  text-align: center;
  padding: 21px 0 22px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .techs {
    padding: 90px 0;
  }

  .techs__wrapper {
    max-width: 668px;
  }

  .techs__content {
    padding: 80px 0 0;
  }

  .techs__content-title {
    margin: 0 0 22px;
  }

  .techs__subtitle {
    margin: 0 0 83px;
    font-size: 12px;
    line-height: 18px;
  }

  .techs__tag {
    font-size: 12px;
    line-height: 15px;
    width: 84px;
    height: 57px;
    padding: 22px 0;
  }
}

@media screen and (max-width: 424px) {
  .techs {
    padding: 70px 0;
  }

  .techs__wrapper {
    max-width: 88.75%;
  }

  .techs__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .techs__content {
    padding: 60px 0 0;
  }

  .techs__content-title {
    margin: 0 0 24px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__subtitle {
    margin: 0 0 50px;
    font-size: 11px;
    line-height: 16px;
  }

  .techs__tags {
    max-width: 178px;
  }

  .techs__tag {
    font-size: 12px;
    line-height: 15px;
    width: 84px;
    height: 57px;
    padding: 22px 0;
  }
}