.login {
  margin: 0 auto;
  padding-top: 70px;
  height: 100%;
}

.login__logo {
  margin: 0 0 37px;
  background: no-repeat center/100% url(../../images/logo.svg);
  display: inline-block;
  min-width: 38px;
  min-height: 38px;
}

.login__title {
  margin: 0 0 40px;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  position: relative;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 396px;
  margin: 0 0 16px;
}

.login__submit-message {
  margin: 0;
  height: 159px;
  padding: 39px 0 0;
  box-sizing: border-box;
  color: #EE3465;
  font-size: 14px;
  line-height: 17px;
}

.login__button {
  margin: 0;
  border: none;
  background-color: #3456f3;
  border-radius: 3px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 13px 0 15px;
  transition: opacity .3s linear;
}

.login__button:hover {
  cursor: pointer;
  opacity: .8;
}

.login__button_non-active {
  background-color: #a0a0a0;
  opacity: .8;
}

.login__button_non-active:hover {
  cursor: auto;
}

.login__footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
}

.login__footer-text {
  margin: 0 6px 0 0;
  color: #a0a0a0;
}

.login__footer-link {
  text-decoration: none;
  color: #3456f3;
}

.login__footer-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1023px) {
  .login {
    padding-top: 232px;
  }
}

@media screen and (max-width: 767px) {
  .login {
    padding-top: 56px;
    width: 81.25%;
  }

  .login__logo {
    margin: 0 calc(50% - 19px) 47px;
  }

  .login__title {
    margin: 0 0 80px;
    text-align: center;
  }

  .login__form {
    width: 100%;
    margin: 0 0 14px;
  }

  .login__submit-message {
    height: 247px;
  }

  .login__button {
    font-size: 12px;
    line-height: 15px;
    padding: 15px 0;
  }

  .login__footer {
    font-size: 12px;
    line-height: 15px;
  }
}