.navtab {
  background-color: #f5f5f5;
  padding: 24px 0;
  text-align: center;
}

.navtab__link {
  color: #000;
  text-decoration: underline;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin-right: 40px;
  transition: opacity .3s linear;
}

.navtab__link:hover {
  opacity: 0.6;
}

.navtab__link:last-child {
  margin: 0;
}

@media screen and (max-width: 424px) {
  .navtab {
    padding: 23px 0 24px;
  }

  .navtab__link {
    font-size: 11px;
    line-height: 16px;
    margin-right: 24px;
  }

}